<% layout('/layout/boilerplate') -%>
<body>
    <div class="row col-11">
        <div class="col-6 offset-3">
            <h2 class="mt-2 mb-2"><%= listing.title %></h2>
            <img class="individual-img" src="<%= listing.image.url %>" alt="">
            <p class="mt-2">
                <i>@ <%= listing.owner.username %><br></i>
                <%= listing.description %><br>
                &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
                <%= listing.location %><br>
                <%= listing.country %>
            </p>
            <% if (currUser._id.equals(listing.owner._id)) { %>
                <div style="display: flex; margin-bottom: 2rem;">
                    <a href="/listings/<%=listing._id%>/edit"><button>Edit</button></a>
                    <form style="margin-left: 1rem;" action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                        <button>Delete</button>
                    </form>
                </div>
            <% } %>
            <hr>
        </div>
        
        <div class="col-6 offset-3">
            <h2 class="mb-4">Reviews</h2>
            <form method="post" class="needs-validation" action="/listings/<%=listing._id%>/reviews" novalidate>
                <b><label for="customRange1" class="form-label">Rating</label></b><br>
                <input type="range" name="review[rating]" max="5" name="review[rating]" min="1" class="form-control form-range" id="customRange1"><br>
                <b><label for="content" class="form-label">Comments</label></b><br>
                <textarea cols="90" rows="8" class="mb-4 form-control" name="review[content]" id="content" required></textarea>
                <button class="btn btn-dark mb-4">Submit</button>
            </form>
            <div class="row">
                <%for(review of listing.reviews ) {%>
                    <div class="card mt-4 col-5 " style="border: 1px solid black; margin-right: 3rem;">
                        <div class="card-header">
                            <i><b>@ <%= review.author.username %></b></i>
                        </div>
    
                        <div class="card-body">
                            <p class="card-title"><%= review.rating %> Star</p>
                            <p class="card-text"><%= review.content %>.</p>
                            <a href="/reviews/<%= review._id %>"><button class="btn btn-sm btn-light">Edit</button></a>
                            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                                <button class="btn btn-sm btn-dark">Delete</button> 
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
            
        </div>  
    </div>
    
</body> 